#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  height: 22em;
  width: 25em;
  border-radius: 3em;
}

h1 {
  font-style: italic;
  font-weight: bolder;
  color: #42596e;
  margin: 0px 0px;
  padding: 0px 0px;
}

/*
.login-form-container {
  height: auto;
  width: auto;
} */


.signup-form-container div {
  margin-bottom: .5em;
}

.signup-form-container div label input {
  margin-left: 10px;
}