.spot-container {
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  padding: 0px 50px;
}

h2 {
  color: rgb(54, 54, 54);
}

.spot-name h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  color: #7087c5;
  font-size: xx-large;
}

h3 {
  font-weight: lighter;
}

/* .header-details-container {} */

.spot-header-details-container {
  font-size: small;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 2em;
}

/* .main-spot-img {
  border-radius: 15px;
  overflow: hidden;
  height: 80%;
} */

.main-spot-img img {
  object-fit: cover;
  height: 60%;
  width: 60%;
}

.spot-header-details-container div {
  padding: 0px 5px;
}

mini-avg-star-rating {
  font-weight: bold;
}

#mini-reviews-num {
  text-decoration: underline;
  font-weight: normal;
}

.spot-header-location-details {
  text-decoration: underline;
}

.spot-details-container {
  display: grid;
  grid-template-columns: 71.4% 28.6%;
}

.spot-details-container-1 div div div h3 {
  font-style: italic;
  color: #6960b6
}

.spot-details-container-1-a {
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spot-details-container-2-a {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.spot-details-container-2-a-1 {
  margin-top: 1em;
  padding: 1em;
  border: 3px solid black;
  border-radius: 20px;
}

.spot-details-container-2-a-1-a {
  display: flex;
  flex-flow: row;
}

/*! v v v LAST POINT TOUCHED 12:42AM 3/8/2023 */
spot-details-container-2-a-1-a-2 {
  flex-direction: row;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.454);
}

.reserve-button {
  margin-top: 5px;
  background-color: #00c8fb;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

.reserve-button:hover {
  background-color: #0073db;
}

.no-reviews {
  color: gray;
}

/* logo blue - 009fff */
/* slightly brighter blue - 00c8fb */
/* darker blue - 0073db */

.spot-images-container {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 80%;

}

.other-spot-imgs {
  display: flex;
  flex-direction: row;
}

.other-spot-imgs div {
  width: auto;
  height: auto;
}

.main-spot-img {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main-spot-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* .review-delete-button {
  background-color: aqua;
} */

.review-delete-button button {
  /* background-color: hotpink; */
  width: 5em;
  height: 2em;
  border-radius: 10px;
  border: none;
  background-color: #6960b6;
  color: #ffffff;
  margin-bottom: 1em;
}

.review-delete-button button::before {
  content: "Delete";
}

.review-delete-button button:hover {
  background-color: #0073db;
}