a {
  text-decoration: none;
  color: black;
}

#spotsIndex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* TODO ^^^ Figure out how to get rid of extra margin on the right */
  padding-top: 2rem;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  grid-gap: 3rem 2rem;
  max-width: 1126px;
  font-family: "Figtree", Arial, Helvetica, sans-serif;
}

/*
.spot-container {
  display: flex;
} */

.spot-location-rating-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.spot-image-container {
  border-radius: 12px;
  overflow: hidden;
  height: 80%;
}

.spot-image-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.spot-description-container p {
  margin: 1px;
}

.spot-description-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.ratings-no-reviews {
  color: rgb(176, 176, 176);
}

.spot-rating-container {
  text-align: right;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 159, 255, 0.65);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 12px;
  position: absolute;
}

.spot-link:hover .tooltip-text {
  visibility: visible;
  /* transition: opacity 3s ease-in-out; */
}

.manage-spots-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-spots-header div h1 {
  padding-bottom: 2em;
}

#become-a-host-button-2 {
  margin-bottom: 2em;
  background-color: #c7e7ff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

#become-a-host-button-2 a {
  color: #8eb4d8;
}

.update-delete-buttons button {
  width: 5em;
  height: 2em;
  border-radius: 10px;
  border: none;
  background-color: #6960b6;
  color: #ffffff;
  margin-top: 1em;
  margin-right: 7px;
}

.update-delete-buttons button:hover {
  background-color: #0073db;
}